.theliofthenatimation{
   position: absolute;
   right: -80px;
   top: calc(50% - 26px);
   height: 20px;
   overflow: hidden;

}

.theMainapp{
    overflow-x: hidden;
    height: 100vh;
    overflow-y: auto;
}

.themainsidepopupnotificationanimation{
    right: 0;
}

.theliofthenatimation1{
    position: absolute;
    right: -80px;
    top: calc(50% - 46px);
    height: 20px;
    overflow: hidden;
}

.theliofthenatimation2{
    position: absolute;
    right: -80px;
    top: calc(50% - 6px);
    height: 20px;
    overflow: hidden;
}

.theliofthenatimation3{
    position: absolute;
    right: -80px;
    top: calc(50% + 16px);
    height: 20px;
    overflow: hidden;
}

.theliofthenatimation4{
    position: absolute;
    right: -80px;
    top: calc(50% + 36px);
    height: 20px;
    overflow: hidden;
}

  @keyframes moveout {
    from { right: -80px; }
    to   { right: 0px; }
  }

  .theliofthenatimation:hover,.theliofthenatimation3:hover,.theliofthenatimation4:hover {
    animation: moveout 1s ease forwards; /* Animation properties on hover */
    height: fit-content;
  }

  .theliofthenatimation1:hover {
    animation: moveout 1s ease forwards; /* Animation properties on hover */
    height: fit-content;
  }

  .theliofthenatimation2:hover {
    animation: moveout 1s ease forwards; /* Animation properties on hover */
    height: fit-content;
  }

  .theparentofthelinsideanimation{
    align-items: center;
  }

  .theparentofthelioftheanimationnotificationbar > li{
    padding: 0.5rem;
    height: fit-content;
  }


  /* forhero */

  .heromainimgsec{
    height: 600px;
  }

  .themainlowerofthemainpage{
    margin-top: 3.5rem;
  }


  @media screen and (max-width:768px) {
    .heromainimgsec {
      height: 500px;
  }
  }

 